.root {
  font-size: 16px;
}

.headder {
  display: inline;
  font-size: 2.5rem;
  border-bottom: 2px solid red;
  margin: 1em auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 5px;
}

h1 {
  color: red;
}

.pop {
  align-content: center;
  color: red;
}
.logoImg {
  padding-top: 10px;
}

.navigationTab {

}

.img404 {
  display: block;
  width: 90%;
  -webkit-filter: blur(1px);
  flter: blur(1px);
  -webkit-filter: sepia(0.5);
  flter: sepia(0.5);
}
.p404 {
  text-align: center;
}

.footer {
  font-size: 0.65em;
}
