.root {
  font-size: 16px;
}

.headder {
  display: inline;
  /* color: blue; */
  font-size: 2.5rem;
  border-bottom: 2px solid red;
  margin: 1em auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 5px;
}

.h1 {
  color: red;
}
.h3 {
  color: red;
}
.pop {
  align-content: center;
  color: red;
}
.logoImg {
  padding-top: 10px;
}

.navigationTab {

}

.footer {
  font-size: 0.65em;
}
